*
{
	padding: 0;
	margin: 0;
}
#header
{
	background-image: url(lift.png);
	height: 80vh;
	background-size: cover;
	background-position: center;
}
.navbar-nav li a
{
	float: right;
	color: #fff !important;
}	
.nabvar-brand img
{
	width: 150px;
	margin-left: 30px;
}
.navbar-toggler
{
	border: none !important;
	outline: none !important;
}
.welcome
{
	padding: 50px 100px;
	margin-top: -140px;
	background-color: black;
	opacity: 0.8;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
.welcome h1
{
	color: #fff;
}
.welcome p
{
	color: #fff;
}
.welcome .home-btn
{
	margin-top: 10px;
	padding: 10px 30px;
	border-radius: 30px;
	color: #fff;
	background-color: #013f7e
}
.welcome .btn:focus
{
	box-shadow: none;
}
h1
{
	margin: 0;
	padding: 20px;
    text-align: center;
    font-size: 40px;
	opcaity: 0;
	color: black;
}

.oo h1
{
	margin: 0;
	padding: 20px;
    text-align: center;
    font-size: 40px;
	opcaity: 0;
	color: black;
}
.button input
{
	width: 100%;
	margin-bottom: 20px;
	position: center;
}
.button input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #013f7e;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.button input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}